.table6
{
    margin-top: 40px;
    width: 1200px;
    font-size: 18px;
}
.table6 th
{
    border: 1px solid black ;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.table6 td
{
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}