.ckus_top_page {
    .ckus_date1 {
        top: 0.82in;
        left: 7.67in;
        width: 1.47in;
        text-align: center;
        font-family: Tahoma , sans-serif;
        font-size: 16px;
        // letter-spacing: 0.3em
    }
    .ckus_payee_name1 {
        top: 1.3in;
        left: 0.95in;
        width: 4.0in;
        text-align: left;
        font-family: Tahoma, sans-serif;
        font-size: 16px;
        // letter-spacing: 0.3em
    }
    .ckus_amount1 {
        top: 1.59in;
        left: 7.2in;
        width: 1.08in;
        text-align: left;
        font-family: Tahoma, sans-serif;
        font-size: 16px;
        // letter-spacing: 0.3em
    }
    .ckus_amount_in_word1 {
        top: 1.65in;
        left: 0.25in;
        width: 6in;
        text-align: left;
        // font-weight: bold;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
        text-transform: uppercase;
        line-height: 200%;
        font-family: Tahoma, sans-serif;
        font-size: 16px;
        // letter-spacing: 0.3em
    }
}
.page_payment
{
    margin-top: 70px;
}
.page
{
    margin-top: 70px;
}
.glicotitle
{
    margin-left: 200px;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.margecr
{
    margin-top: 200px;
}
#informations1
{
    margin-bottom: 30px;
}
.summary, .summary1
{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
}
#sale_line_table, #invoice_line_table
{
    margin-top: -30px;
    font-size: 12px;
}
#invoice_line_table2, #sale_line_table2
{
    width: 470px;
    font-size: 12px;
}
#invoice_line_table2 th
{
   text-decoration-style: none;
}
#total_invoice, .texte_invoice1, #signat, #total_sale,.payment_term
{
    font-size: 12px;
}
.total_invoice1
{
    margin-left: 3px;
}
#total_invoice
{
    width: 300px;
    margin-left: 19px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.address
{
    margin-left: -1230px;
    font-size: 15px;
}
h5
{
    margin-top: 30px;
}
.title_order
{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -15px;
}
#total_sale
{
    margin-left: 5px;
}
.signe_bill
{
    margin-left: 500px;
    margin-top: 50px;
}
.texte_invoice
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
.titrepv
{
    margin-bottom: 30px;
}
.pv1
{
    margin-left: 60px;
}
.pv2
{
    margin-left: 100px;
}
.pv3
{
    margin-left: 70px;
}
.pv4
{
    margin-left: 30px;
}
.pv5
{
    margin-left: 35px;
}
.pv6
{
    margin-left: 93px;
}
.pv7
{
    margin-left: 50px;
}
.pv8
{
    margin-left: 39px;
}
.text_words
{
    margin-left: 30px;
}
.ligne
{
    margin-top: 15px;
}
.trait
{
    margin-left: 12px;
    margin-bottom: -5px;
}
.trait1
{
    margin-top: 40px;
}
.page1
{
    padding-top: 80px;
}
.titleclaim
{
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
}
.div_from
{
    margin-bottom: 15px;
}
.namep
{
    margin-left: 20px;
}
.namer
{
    margin-left: 46px;
}
.named
{
    margin-left: 33px;
}
.from, .to
{
    margin-left: 10px;
}
.td_add, .td_loc, .td_dp
{
    margin-left: 100px;
}
.mytable
{
    margin-left: 325px;
}
.from
{
    margin-right: 20px;
}
.text_com
{
    padding-left: 15px;
}
.page_payment_cust
{
    margin-top: 50px;
}
.trait2
{
    height: 1px;
    background-color: black;
    margin-bottom: 2px;
}
.div_title_cust
{
    margin-bottom: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 300px;
    height: 50px;
    padding-top: 5px;
    margin-left: 280px;
}
.titrepv_cust
{
    margin-top: 8px;
}
.pv_rf, .amount_word, .pv_bt, .pv_ghc, .pv_cash,.check
{
    margin-left: 22px;
}
.pv_tso
{
    margin-left: 50px; 
}
.div_title_company
{
    font-size: 18px;
}
.separate
{
    height: 1px;
    width: 850px;
    background-color: black;
}
.street_comp,.po_comp,.mail_comp
{
    margin-bottom: -2px;
}
.div_name_part1
{
    font-size: 17px;
}
.div_cost1
{
    font-size: 18px;
    margin-top: 25px;
}
.div_date
{
    padding-left: 600px;
    margin-top: 15px;
    font-size: 17px;
}
.ghc
{
    padding-left: 600px;
    margin-bottom: 40px;
}
.table8
{
    width: 850px;
    margin-bottom: 40px;
}
.table8 td
{
    border: 1px solid black;
    padding: 15px;
}
.div_image
{
    margin-top: 15px;
}
.subtitle
{
    margin-bottom: 60px;
}
.please_note
{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
}