.titlePremium
{
    font-size: 25px;
    margin-bottom: 80px;
}
.table1
{
    margin-bottom: 50px;
}
.table3 thead
{
    padding-top: 25px;
}
.table3 th
{
    padding-top: 25px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
}
.table3 td
{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
.table2 th
{
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
}
.table2 td
{
    text-align: center;
    border: 1px solid black;
}
.table2_sum th
{
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
}
.table2_sum td
{
    text-align: center;
    border: 1px solid black;
}
.table2_sum
{
    width: 1000px;
}
.ref
{
    margin-left: 20px;
}