.titleDef
{
    font-size: 25px;
    margin-bottom: 80px;
}
.table1
{
    margin-bottom: 50px;
    font-size: 18px;
}
.table2 td
{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.table2 td span
{
    font-size: 18px;
}
.table2 th
{
    font-size: 18px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.table2
{
    width: 1300px;
}
.ref
{
    margin-left: 20px;
}