<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
        <record id="view_account_payment_form_inheritedABC" model="ir.ui.view">
            <field name="name">res.config.settings.view.form.inherit.account</field>
            <field name="model">res.config.settings</field>
            <field name="inherit_id" ref="account.res_config_settings_view_form" />
            <field name="arch" type="xml">
                <div class="o_setting_right_pane" position="replace">
                    <div class="o_setting_right_pane">
                        <label string="Cheques" for="module_account_check_printing"/>
                        <span class="fa fa-lg fa-building-o" title="Values set here are company-specific." aria-label="Values set here are company-specific." groups="base.group_multi_company" role="img"/>
                        <div class="text-muted" id="print_bills_payment">
                            Print cheques to pay your vendors
                        </div>
                    </div>
                 </div>
            </field>
        </record>

    </data>

</odoo>
