<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record model="ir.actions.act_window" id="action_pi_invoice">
          <field name="name">PI Invoices</field>
          <field name="type">ir.actions.act_window</field>
          <field name="res_model">account.move</field>
          <field name="view_mode">tree,form</field>
          <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="domain">[('type', '=', 'out_invoice'),('Pi_from', '=' ,'True')]</field>
            <field name="context">{'default_type': 'out_invoice', 'Pi_from':'True'}</field>
            <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Create a vendor Invoices from PI
              </p><p>
                Create invoices, register payments and keep track of the discussions with your vendors From PI.
              </p>
            </field>
        </record>   

        <record id="action_move_in_invoice_PI_tree" model="ir.actions.act_window.view">
            <field name="sequence" eval="1"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="view_invoice_tree_pi"/>
            <field name="act_window_id" ref="action_pi_invoice"/>
        </record>

        <record model="ir.actions.act_window.view" id="action_move_in_invoice_PI_form">
            <field name="sequence" eval="2"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="view_move_form_pi"/>
            <field name="act_window_id" ref="action_pi_invoice"/>
        </record>

        <menuitem
            id="menu_action_move_in_invoice_PI"
            action="action_pi_invoice"
            groups="client_pi.premiums"
            parent="account.menu_finance_receivables"
            name="PI Invoices"
            sequence="9"/>

        <record model="ir.actions.act_window" id="action_pi_bills">
          <field name="name">PI Bills</field>
          <field name="type">ir.actions.act_window</field>
          <field name="res_model">account.move</field>
          <field name="view_mode">tree,form</field>
          <field name="search_view_id" ref="account.view_account_invoice_filter"/>
            <field name="domain">[('type', '=', 'in_invoice'),('Pi_from', '=' ,'True')]</field>
            <field name="context">{'default_type': 'in_invoice','Pi_from':'True'}</field>
            <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Create a vendor bill from PI
              </p><p>
                Create Bill, register payments and keep track of the discussions with your vendors From PI.
              </p>
            </field>
        </record>    

        <record model="ir.actions.act_window.view" id="action_move_in_bill_PI_form">
            <field name="sequence" eval="2"/>
            <field name="view_mode">form</field>
            <field name="view_id" ref="view_move_form_pi"/>
            <field name="act_window_id" ref="action_pi_bills"/>
        </record>

        <record id="action_move_in_bill_PI_tree" model="ir.actions.act_window.view">
            <field name="sequence" eval="1"/>
            <field name="view_mode">tree</field>
            <field name="view_id" ref="view_invoice_tree_pi"/>
            <field name="act_window_id" ref="action_pi_bills"/>
        </record>

        <menuitem
            id="menu_action_move_in_bill_PI"
            action="action_pi_bills"
            groups="client_pi.claims"
            parent="account.menu_finance_payables"
            name="PI Bills"
            sequence="9"/>

        <record model="ir.ui.menu" id="account.menu_finance_receivables">
          <field name="groups_id" eval="[(6,0,[ref('client_pi.premiums')])]"/>
        </record>

        <record model="ir.ui.menu" id="account.menu_finance_payables">
          <field name="name">Providers</field>
          <field name="groups_id" eval="[(6,0,[ref('client_pi.claims')])]"/>
        </record>

        <record model="ir.ui.menu" id="account.menu_action_account_payments_receivable">
          <field name="name">Receipts</field>
        </record>

        <record model="ir.ui.menu" id="account.menu_account_supplier">
          <field name="name">Service Providers</field>
        </record>
        
        <delete model="ir.ui.menu" id="account.menu_action_move_out_refund_type" />

        <delete model="ir.ui.menu" id="account.menu_action_move_out_receipt_type" />

    </data>
</odoo>
